{% extends 'base.html.twig' %}

{% block title %}Modifier évènement{% endblock %}

{% block body %}
    <h1>Modifier évènement</h1>

    {{ include('event/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class = "button-container">
        <a class = "btn" href="{{ path('event_index') }}">Retour aux évènements</a>
        {{ include('event/_delete_form.html.twig') }}
    </div>
{% endblock %}
