{% extends 'base.html.twig' %}

{% block title %}Modifier un événement{% endblock %}

{% block body %}
    <h1 class = "pageTitle">Modifier un événement</h1>
    <div class="edit-form">
        {{ include('event/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
    <div>
        {{ include('event/_delete_form.html.twig') }}
    </div>
{% endblock %}
