{% extends "base.html.twig" %}
{% block body %}
	<section class="my-friends-banner" style = "background-color: #7588b9 ;">
	    <img class = "banner-logo" src = "{{ asset('build/images/MyFriends.png') }}">
        <h1 class="my-friends-title">MES AMIS</h1>
    </section>
{% endblock %}