{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
        <section class = "new-event">
        <img  class = "my-events-banner" src="{{ asset('build/images/CreationdEvenement.png') }}" alt="my-events-banner"/>
    </section>
    {{ include('event/_form.html.twig') }}

    <a class="btn" href="{{ path('event_index') }}">Ma liste d'évènements</a>
{% endblock %}
