{% extends 'base.html.twig' %}

{% block title %}Nouvel événement{% endblock %}

{% block body %}
    <section class="my-friends-banner" style = "background-color: #c07a7f ;">
        <img class = "banner-logo banner-logo-event" src = "{{ asset('build/images/addEvent.png') }}"><span style = "font-size: 200%;color: white; margin: -40px 0 0px 10px">+</span>
        <h1 class="my-friends-title">NOUVEL ÉVÈNEMENT</h1>
    </section>
    {{ include('event/_form.html.twig') }}

    <a class="btn" href="{{ path('event_index') }}">Ma liste d'évènements</a>
{% endblock %}