{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block body %}
<div>
    <a href="/login"><img src="{{ asset('build/images/favicon.png') }}"></a>
</div>
{% endblock %}
{% block navigation %}{% endblock %}
