{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
<div>
    <img class="banner-img" src="{{ asset('build/images/banner-img.6394fd7a.jpg') }}"/>
</div>
<div class="home-zone">
    <img class="home-btn" src="http://placehold.it/100x100">
</div>
{% endblock %}
