{% extends 'base.html.twig' %}
<div class="flexContainerLogo">
    <div class="openLogo">
        <a href="{{ path('alarm')}}"><img src="{{ asset('build/images/favicon.png') }}"></a>
    </div>
</div>