{% extends 'base.html.twig' %}

{% block title %}SOS{% endblock %}
{% block bodyClass %}safeNightRed{% endblock %}
{% block body %}
    <h1 class="h1-SOS">SOS</h1>
    <p class="p-SOS">Une notification à été envoyée<br> à vos contacts de confiance</p>
    <div style="display: flex; justify-content: center;">
    <button class="alarm-btn"onclick="toggle()"> ALARME </button>
{% endblock %}
