{% extends 'base.html.twig' %}

{% block title %}SOS{% endblock %}

{% block body %}
 <div class="background-SOS"> 
    <h1 class="h1-SOS">SOS</h1>
    <p class="p-SOS">Une notification à été envoyée<br> à vos contacts de confiance</p>
    <button class="alarm-btn"onclick="toggle()"> ALARME </button>
    <audio id="audio" src = "{{ asset('/son/alarm.wav') }}"></audio>
    <script>
        function toggle() {
            const alarm = document.getElementById('audio');
            if (alarm.paused) {
                alarm.play();
            } else {
            alarm.pause();
            }
        }
    </script> 
</div> 
{% endblock %}
