@import 'variables.scss';

// Reinitialisation des marges et du remplissage du body

body {
    margin: 0;
    padding: 0;
}

// Suppression des puces des listes à puces

a {
    text-decoration: none;
}


// Header style pour le fichier _header.html.twig

header {
    height: 4rem;
    background-color: #FFFFFF;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0rem 1rem 0.25rem 1rem;
    box-shadow: 0px -40px 93px -15px rgba(0,0,0,0.86);
}

.leftarrow {
    width: 2rem;
    height: 2rem;
}

.user-icon {
    width: 2rem;
    height: 2rem;
}

// Page "Mes évènements du fichier index.html.twig

.my-events-banner {
    width: 100%;
    border-radius: 0rem 0rem 1rem 1rem;
}

.my-events-title {
    color: white;
}

.my-events-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    border: solid 1px red;
}

.my-events-content, a {
    color: white;
    font-weight: bold;
}

.new-event {
    background-color: #74b8ab;
    width: 20rem;
    padding: 0.75rem;
    border-radius: 1rem;
}

.events-list {
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
    border: solid 1px red;
}

.event {
    background-color: #74b8ab;
    width: 20rem;
    margin-bottom: 1rem;
    padding: 2rem 0.75rem 2rem 0.75rem;
    border-radius: 1rem;
    text-align: end;
    border: solid 1px red;
}