@import 'variables.scss';
@import url(https://fr.allfont.net/allfont.css?fonts=cooperhewitt-heavy);
@import url(https://fr.allfont.net/allfont.css?fonts=cooperhewitt-book);

body {
    font-family: 'CooperHewitt-Heavy', arial;
    display:flex;
    flex-direction: column;
}
.eventShow-item {
    text-align:center;
}
// Header style pour le fichier _header.html.twig

header {
    height: 4rem;
    background-color: #FFFFFF;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0rem 1rem 0.25rem 1rem;
    box-shadow: 0px -40px 93px -15px rgba(0,0,0,0.86);
}

.leftarrow {
    width: 2rem;
    height: 2rem;
}

.user-icon {
    width: 2rem;
    height: 2rem;
}

.button {
    border:1px solid black;
    border-radius: 25px;
    text-decoration: none;
    display:block;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    padding:0.5em;
    width: 60%;
}

.button-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.icon {
    max-width: 2rem;
    height:auto;
}
.showItem {
    margin-top: 1em;
    margin-bottom: 1em;
}
.delete-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container {
    position:absolute;
    z-index:2;
}
.eventShow-title{
    position:relative;
    z-index:1;
}