* {
    margin: 0;
    padding: 0;
}

.banner {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.banner-img {
    width: 100vw;
}

.home-zone {
    margin: 0;
    display: flex;
    justify-content: center;
}