{% block header %}
    <header>
        <a href="{{ app.request.headers.get('referer') }}"><img class="leftarrow" src="{{ asset('build/images/previous.png') }}" alt="leftarrow"/></a>
        <a href="{{ path('profile') }}"><img class="user-icon" src="{{ asset('build/images/usericon.png') }}" alt="user-icon"/></a>
    </header>
{% endblock %}