{% block header %}
    <header>
        <a href="{{ app.request.headers.get('referer') }}"><img class="leftarrow" src="{{ asset('build/images/previous.png') }}" alt="leftarrow"/></a>
        <a class="user-icon-section" href="{{ path('profile') }}">
            <img class="user-icon" src="{{ app.user.avatar ? '/uploads/' ~ app.user.avatar : asset('build/images/usericon.png') }}"/>
        </a>
        
    </header>
{% endblock %}