{% block navigation %}
    <footer>
        <div class="navbar">
             <a href="/" ><img class="Home" src="{{ asset('/build/images/home.7ea23469.png') }}" alt="Home"/></a>
        </div>
    </footer>
{% endblock %}


