<p class="nav-bar">
</p>
<footer id = "footer">
    <a class="SOS-link" href="{{ path('confirm_sos')}}" ><img class="SOS-icon" src="{{ asset('/build/images/SOS.de71847f.png') }}" alt="SOS"/></a>
    <a class="Home-link" href="/index" ><img class="Home-img" src="{{ asset('/build/images/home.3434d238.png') }}" alt="Home"/></a>
</footer>
