{% block navigation %}
    <footer id = "footer">
        <a class="Home-link" href="/index" ><img class="Home-img" src="{{ asset('/build/images/home.3434d238.png') }}" alt="Home"/></a>
    </footer>
{% endblock %}
