{% block navigation %}
    <footer>
        <a class="Home-link" href="/index" ><img class="Home-img" src="{{ asset('/build/images/home.7ea23469.png') }}" alt="Home"/></a>
    </footer>
{% endblock %}
