<form id="searchForm" action="{{ path('program_search') }}" method="get">
    <div id="searchBox">
        <input type="text" name="q" id="searchField" autocomplete="off">
        <ul id="autocomplete"></ul>
    </div>
    <button>Chercher</button>
</form>
