{% extends 'base.html.twig' %}

{% block title %}Modification profil{% endblock %}

{% block bodyClass %}safeNightGray{% endblock %}

{% block body %}

    <h1 class = "pageTitle">Modifier mon profil</h1>
    {% if user.avatar %}
	<div class="profil-pic-section">
		<img class="profil-pic" src="{{'/uploads/' ~ user.avatar }}"/>
	</div>
	{% endif %}
    <a class="user-button" id= "editAvatar" href="{{ path('user_edit_avatar', {'id': user.id}) }}">Modifier mon avatar</a>
    <div class="edit-form">
        {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
    <div class = "button-container">
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
