{% extends 'base.html.twig' %}

{% block title %}Modification profil{% endblock %}

{% block body %}
    <h1 class = "pageTitle">Modifier mon profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    <div class = "button-container">
        {{ include('user/_delete_form.html.twig') }}
    </div>
{% endblock %}
