{% extends "base.html.twig" %}

{% block body %}
<ul class="searching-users">
{% for user in users %}
    <li>
        <a href="{{ path('user_show', {"id": user.id}) }}">
            <div class="searching-picture-background">
                <img class="searching-users-picture" src="{{ asset('/uploads/' ~ user.avatar) }}">
            </div>
            <h2>{{user.firstname ~ ' ' ~ user.lastname}}</h2>
        </a>
    </li>
{% endfor %}
</ul>
{% endblock %}